<p>
  <mat-toolbar color="primary">
    <span>Boardgame Directory</span>
  </mat-toolbar>
</p>
<br>
<div class="center-it">
  <div class="container">
    <div style="display: flex; align-content: center; justify-content: center;">
      <mat-form-field>
        <mat-label>Games per page:</mat-label><br>
        <input matInput style="text-align:center;" type="numeric" [value]="gamesPerPage" #limit
          (input)="updateGames(null, +limit.value)" />
      </mat-form-field>
    </div>
    <div style="display: flex; align-content: center; justify-content: center;">
      <button mat-flat-button (click)="goToPreviousPage()"><mat-icon>chevron_left</mat-icon></button>
      <mat-form-field>
        <input matInput style="text-align:center;" type="numeric" [value]="currentPage" #pageNum
          (input)="updateGames(+pageNum.value, null)" />
      </mat-form-field>
      <button mat-flat-button (click)="goToNextPage()"><mat-icon>chevron_right</mat-icon></button>
    </div>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let g of games$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ g.name }} ({{ g.year}})
          </mat-panel-title>
          <mat-panel-description>
            Rank {{ g.ranking }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <img src="{{ g.image }}" alt="" style="width:100px; height: auto;"><br>
          Rated by {{ g.users_rated }} users<br>
          <a href="{{ g.url }}">Check out on BoardGameGeek!</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <div style="display: flex; align-content: center; justify-content: center;">
      <button mat-flat-button (click)="goToPreviousPage()"><mat-icon>chevron_left</mat-icon></button>
      <mat-form-field>
        <input matInput style="text-align:center;" type="numeric" [value]="currentPage" #pageNum
          (input)="updateGames(+pageNum.value, null)" />
      </mat-form-field>
      <button mat-flat-button (click)="goToNextPage()"><mat-icon>chevron_right</mat-icon></button>
    </div>
  </div>
</div>